.grid-template-2-rows {
  grid-template-rows: 10em auto;
}

.search-bar-suggestion-side, .nav-bar-side {
  height: 1000px;
}

.search-bar-suggestion-side .form {
  position: relative;
}

.search-bar-suggestion-side .form .bi-search {
  position: absolute;
  top: 40%;
  left: 7%;
  color: #9ca3af;
}

.search-bar-suggestion-side .form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.search-bar-suggestion-side .form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
  background-color: #d1d5db;
}

.search-bar-suggestion-side .form-input:focus {
  box-shadow: none;
  border-color: black;
  background-color: white;
}

.logo {
  height: 48px;
  width: 48px;
}
