*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.ul-list{
text-align: center;
}
.list-item{
    display: block;
}




.grid {
    display: grid;
}

.grid-template-3-cols{
        grid-template-columns: 25% 50% 25%;
    /*column-gap: 3em;*/
}

#dropzone-container{
    display: none;
}